<!DOCTYPE html>
<html th:replace="~{layouts/admin :: layout(~{::section})}">
  <body>
    <section>
      <div class="card shadow">
        <div class="card-body">
          <div class="title text-center">
            <h3 th:text="${title}" class="text-capitalaize"></h3>
          </div>
          <form action="#" endpoint-name="duesTypes" id="create" method="POST">
            <div class="mb-3">
              <label for="duesName" class="form-label">Nama Iuran</label>
              <input
                type="text"
                name="duesName"
                id="duesName"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="cost" class="form-label">Biaya</label>
              <input
                type="number"
                name="cost"
                id="cost"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
