<!DOCTYPE html>
<html th:replace="~{layouts/admin :: layout(~{::section})}">
  <body>
    <section>
      <div class="card shadow">
        <div class="card-body">
          <div class="title text-center">
            <h3 th:text="${title}" class="text-capitalaize"></h3>
          </div>
          <form action="#" endpoint-name="cities" id="create" method="POST">
            <div class="mb-3">
              <label for="provinceName" class="form-label"
                >Pilih Provinsi</label
              >
              <select name="province" id="select-province" class="form-select">
                <option value="">Pilih salah satu</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cityName" class="form-label"
                >Nama Kota / Kabupaten</label
              >
              <input
                type="text"
                name="cityName"
                id="cityName"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">submit</button>
            </div>
          </form>
        </div>
      </div>
      <script></script>
    </section>
  </body>
</html>
