<!DOCTYPE html>
<html th:replace="~{layouts/admin :: layout(~{::section})}">
  <body>
    <section>
      <div class="card shadow">
        <div class="card-body">
          <form
            action="#"
            endpoint-name="transactions"
            id="create"
            method="POST"
          >
            <div class="mb-3">
              <label for="ownerId" class="form-label">Nama Pemilik</label>
              <select
                name="ownerId"
                id="full"
                class="form-select"
                tableName="users"
              >
                <option value="">Pilih Pemilik</option>
              </select>
            </div>
            <script>
              $("select[name='ownerId']").on("change", function (e) {
                $("#daftar-rumah").removeClass("d-none");
                let result = [];
                let arrHouseId = [];
                $.ajax({
                  url: `${urlApi}/transactions/billingList/Users/${e.target.value}`,
                  method: "GET",
                  headers: { Authorization: `Bearer ${readJwt()}` },
                  success: function (response) {
                    $.each(response, function (index, value) {
                      result.push(`<div class="col">
                                  <div class="row row-cols-2">
                                    <div class="col">
                                      <!-- Swiper -->
                                      <div class="swiper picture-houses">
                                        <div class="swiper-wrapper" id="picture-slides">`);
                      let pictures = ``;
                      value.pictures.forEach((picture) => {
                        pictures += `<div class="swiper-slide">
                                      <img src="${urlApi}${picture.path}">
                                    </div>`;
                      });
                      console.log(pictures);
                      result.push(pictures);
                      result.push(`</div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                  <div class="col">
                    <table>
                      <tr>
                        <td>Nama Rumah</td>
                        <td class="px-2">:</td>
                        <td id="detail-houseName">${value.houseName}</td>
                      </tr>
                      <tr>
                        <td>Pemilik Rumah</td>
                        <td class="px-2">:</td>
                        <td id="detail-owner">${value.ownerName}</td>
                      </tr>
                      <tr>
                        <td>Jumlah Penghuni</td>
                        <td class="px-2">:</td>
                        <td id="detail-totalOccupants">${
                          value.totalOccupants
                        }</td>
                      </tr>
                      <tr>
                        <td>Alamat</td>
                        <td class="px-2">:</td>
                        <td id="detail-address">${value.address}</td>
                      </tr>
                      <tr>
                        <td>Jumlah Bulan Tagihan</td>
                        <td class="px-2">:</td>
                        <td id="detail-city">${value.numBillMonths} Bulan</td>
                      </tr>
                    </table>
                    <div class="text-end mt-3">
                      <h6>TOTAL</h6>
                      <h6 id="detail-totalCost">${formatRupiah(
                        value.totalCost,
                        true
                      )}</h6>
                    </div>`);
                      if (value.totalCost == 0) {
                        result.push(`<div class="row mt-3">
                                      <button class="btn btn-success">Lunas</button>
                                    </div>
                                  </div>
                                </div>
                              </div>`);
                      } else {
                        arrHouseId.push(value.houseId);
                        result.push(`<div class="row mt-3">
                                      <button class="btn btn-warning" id="bayar" onclick="payOneHouse(${value.houseId})" data-id="${value.houseId}">Bayar Rumah Ini</button>
                                    </div>
                                  </div>
                                </div>
                              </div>`);
                      }
                    });
                    $("#listHouse").html(result.join(""));
                    $("#payAllHouses").attr("data-id", arrHouseId.join("-"));
                    new Swiper(".picture-houses", {
                      pagination: {
                        el: ".swiper-pagination",
                        type: "fraction",
                      },
                      autoplay: {
                        delay: 2500,
                        disableOnInteraction: false,
                      },
                    });
                  },
                });
              });
            </script>
          </form>
        </div>
      </div>
      <div class="card shadow mt-3 d-none" id="daftar-rumah">
        <div class="card-body">
          <div class="row row-cols-1 row-cols-md-2" id="listHouse"></div>
          <div class="row mt-3">
            <button
              type="button"
              class="btn btn-warning"
              data-id=""
              id="payAllHouses"
            >
              Bayar Semuanya
            </button>
          </div>
        </div>
      </div>
      <script>
        $("#payAllHouses").on("click", function () {
          if (!confirm("yakin ingin bayar semua ?")) return;
          $.ajax({
            url: `${urlApi}/transactions`,
            method: "POST",
            headers: { Authorization: `Bearer ${readJwt()}` },
            dataType: "json",
            data: JSON.stringify({
              houseId: $(this).attr("data-id").split("-"),
            }),
            processData: false,
            contentType: "application/json",
            success: function (response) {
              alert("Transaction Berhasil");
              window.location.href = "/admin/transactions";
            },
          });
        });
        function payOneHouse(houseId) {
          if (!confirm("yakin ingin bayar 1 rumah ini ?")) return;
          $.ajax({
            url: `${urlApi}/transactions`,
            method: "POST",
            headers: { Authorization: `Bearer ${readJwt()}` },
            dataType: "json",
            data: JSON.stringify({ houseId: [houseId] }),
            processData: false,
            contentType: "application/json",
            success: function (response) {
              alert("Transaction Berhasil");
              window.location.reload();
            },
          });
        }
      </script>
    </section>
  </body>
</html>
