<!DOCTYPE html>
<html th:replace="~{layouts/admin :: layout(~{::section})}">
  <body>
    <section>
      <div class="card shadow">
        <div class="card-body">
          <div class="title text-center">
            <h3 th:text="${title}" class="text-capitalaize"></h3>
          </div>
          <form action="#" endpoint-name="provinces" id="update" method="POST">
            <div class="mb-3">
              <label for="dataId" class="form-label">Province ID</label>
              <input
                type="text"
                class="form-control"
                th:attr="value=${dataId}"
                readonly
                id="dataId"
              />
            </div>
            <div class="mb-3">
              <label for="provinceName" class="form-label">Nama Provinsi</label>
              <input
                type="text"
                name="provinceName"
                id="provinceName"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
