<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}" />
    <link
      rel="stylesheet"
      th:href="@{/plugins\Bootstrap-5.2.3\css\bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{\plugins\datatable\datatables.min.css}" />
  </head>
  <body>
    <div th:replace="fragments/navbar::navbar"></div>
    <!-- Table -->
    <div class="container my-5">
      <div class="d-flex gap-3 align-items-center">
        <label for="size" class="text-capitalize m-0">size :</label>
        <input
          type="number"
          id="size"
          class="form-control"
          name="size"
          style="width: 70px"
          value="10"
        />
      </div>
      <table
        id="housesTable"
        class="table table-striped table-hover table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Alamat</th>
            <th>Owner</th>
            <th>City</th>
            <th>Province</th>
          </tr>
        </thead>
        <tbody id="fetchData"></tbody>
      </table>
      <div class="d-flex justify-content-center my-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center"></ul>
        </nav>
      </div>
    </div>
    <!-- End Table -->

    <script
      th:src="@{\plugins\Bootstrap-5.2.3\js\bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{\plugins\jQuery-3.6.0\jquery-3.6.0.min.js}"></script>
    <script th:src="@{\plugins\datatable\datatables.min.js}"></script>

    <script>
      $(document).ready(function () {
        let size = $("#size").val();
        let currentPage = 0;
        const myTable = $("#housesTable").DataTable({
          paging: false,
          ordering: false,
          info: false,
        });
        $("#size").on("change", function () {
          if ($(this).val().includes("."))
            return alert("Please input a number integer");
          size = $(this).val();
          fetchData(currentPage, $(this).val());
        });
        $(".pagination").on("click", ".page-item a", function () {
          fetchData($(this).attr("data-page"), size);
        });
        fetchData(currentPage, size);
        function fetchData(page = 0, size = 10) {
          myTable.clear();
          $.get(
            `http://localhost:4040/api/houses/views/page?page=${page}&size=${size}`,
            function (data) {
              let pageItem = "";
              for (let num = 0; num < data.totalPage; num++) {
                let no = num + 1;
                if (data.currentPage == num) {
                  pageItem += `<li class="page-item active"><a class="page-link" href="#" data-page="${num}">${no}</a></li>`;
                } else {
                  pageItem += `<li class="page-item"><a class="page-link" href="#" data-page="${num}">${no}</a></li>`;
                }
              }
              $(".pagination").html(pageItem);
              $.each(data.houses, function (key, value) {
                myTable.row
                  .add([
                    key + 1,
                    value.address,
                    value.owner ? value.owner.fullName : "null",
                    value.city ? value.city.cityName : "null",
                    value.city ? value.city.province.provinceName : "null",
                  ])
                  .draw(false);
              });
            }
          );
        }
      });
    </script>
  </body>
</html>
